<div class="image-gallery browser-screen-height">
    
<h1 class="image-galley-title">{{vm.title}}</h1>

<a ng-show="vm.prevState.name != '' " class="fa fa-arrow-left" 
   ui-sref="{{vm.prevState.name != '' ? vm.prevState.name : '.'}}" value="previous page" 
   aria-hidden="true" style="font-size:50px;float:right;margin-top: -95px;">
</a>

<div class="imageBox">
    <div ng-show="vm.imageFlag">
        
        <div ng-show="vm.imageObj.id != vm.firstElement.id">
        <a class="fa fa-arrow-left left-arrow" href="" ng-click="vm.prvImage(vm.imageObj)" value="previous image" aria-hidden="true" style="font-size: 50px;float: left;margin-left: 0px;padding-right: 51px;left: 100px;position: absolute;"></a>
        </div>
        
        <img class="youtube-player" src="{{vm.imageObj.src}}" height=320 width = 650 />
        
        <div ng-show="vm.imageObj.id != vm.lastElement.id">
        <a class="fa fa-arrow-right right-arrow" href="" ng-click="vm.nxtImage(vm.imageObj)" value="next image" aria-hidden="true" style="font-size:50px;float:right;margin-right: 20px;"></a>
        </div>
        
    </div>
    <div ng-show="! vm.imageFlag">
        <i class="fa fa-arrow-down" style="font-size: 250px; color: rgba(237, 234, 234, 0.87); margin-left: 173px;"></i>
    </div>
</div>

<div class="image-galley-footer">
    <ul ng-scrollable class="scroll-bar" >
        <li style="display: inline;" ng-repeat="image in vm.imageData track by image.id">
        <cu-image col-size="2" image-src="{{image.src}}" ng-click="vm.open(image)" />
        </li>
    </ul>
</div>

</div>
